---
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyBoardManager from "@/components/KeyBoardManager.astro";

import { basics } from "@/cv.json";
import Certificates from "@/components/sections/Certificates.astro";
const { name, label } = basics;
---

<Layout title={`Portfolio de ${name} - ${label}`}>
    <main>
        <Hero />
        <About />
        <!-- <Experience /> -->
        <Education />
        <Certificates />
        <Projects />
        <Skills />
    </main>
    <KeyBoardManager />
</Layout>

<style is:global>
    main {
        padding: 0.5rem;
        margin: auto;
    }
</style>
